/node_modules
/public/hot
/public/storage
/storage/*.key

# subpasta para track (Descomentar caso necessite modificar o pacote utilizado para o Keycloak)
# **/vendor/*
# !**/vendor/vizir
/vendor

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
