/* Customizações SOBRE o template */

a{/* color: #14F !important; */font-weight: 500;}

a[target]:not(.btn){
  text-decoration: none !important;
}

a[target]:not(.btn):hover{
  text-decoration: underline !important;
}

.nav-menu li a{
  color: #97b1dc !important;
}

a:hover{
  text-decoration: underline;
}

.page-logo img{
  width: 100%;
}

/*minified */
@media (min-width: 992px){
.nav-function-minify .nav-footer [data-class="nav-function-minify"] {
    color: #4a78c2;}
    .nav-function-minify .page-logo img{
      width: 70%;
    }

  }

.btn-light-green {
    color: #444;
    background: #69F0AE;
}

.btn-light-green:hover {
    background: #00E676;
    color: #fff;
}

.active {
    font-weight: bold;
}

/* item de breadcrumb ativo sem limite de largura */
.breadcrumb > li.breadcrumb-item.active {
max-width: 1000px;
text-overflow:ellipsis;
white-space:nowrap;
}

.btn-pdf {
    background: #E74C3C;
}

.btn-pdf:hover {
    background: #CB4335;
    color: #fff;
}

.box {
    position: relative;
    background: #ffffff;
    width: 100%;
  }

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
  }

  .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
  }

  .dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
  }

  .dropzone,
  .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
  }

  .dropzone-wrapper:hover,
  .dropzone-wrapper.dragover {
    background: #ecf0f5;
  }

  .preview-zone {
    text-align: center;
  }

  .preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  .tab-content .tab-pane {
    color: #525252 !important;
  }

  .font-size-14 {
    font-size: 14px;
  }

  .font-size-12 {
    font-size: 12px;
  }

  .font-size-16 {
    font-size: 16px;
  }

  .proposta .active {
    color: #fff !important;
  }

  .proposta-menu .active {
    border-bottom: 1px solid #dee2e6;
  }

  .font-color-light {
    color: #888;
  }

 .card-body{
    border-bottom: solid 1px #ddd;
}

.card-title[aria-expanded="false"]{
  border-bottom: solid 1px #ddd !important;
}



  .info-card-text{
    margin: auto !important;
}

.page-header{
  background-color: #fff !important;
}

.page-logo{
}

.panel-toolbar .btn-panel[data-action="panel-collapse"], .panel-toolbar .btn-panel.js-panel-collapse, .panel-toolbar .btn-panel[data-action="panel-fullscreen"]
{
  background: #3d6acc !important; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: none;
}

.btn-primary {
  background: #14f !important;
  color: #fff !important;
}

[data-action="panel-collapse"]{
  /* content: '_'; */
}

.text-secondary{
  color: #333 !important;
}

.shortcut-menu {
  /*ações na camada de topo da renderização */
  z-index: 1001;
}

/* Extende a implementação dos ícones */

.fa-08x{font-size: 0.8em;}


.panel-hdr h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5d91d5;
}

.panel.panel-fullscreen .panel-hdr h2{
  font-size: 1.5rem;
  position: relative;
  vertical-align: middle;
}

/* Painel maximizado */
.panel.panel-fullscreen .panel-toolbar .btn-panel{
  width: 2.5rem;
  height: 2.5rem;
}

.panel.panel-fullscreen .fa-08x{
  font-size:1rem;
position: relative;
top: 2px;
}

h4.funcao-form{
  font-size: 2rem;
  font-weight: 200;
}

.header-btn[data-class='mobile-nav-on']{
  background-color: #fff;
  color: #a6a6a6;
  border-color: #a6a6a6;
  background-image: none;
}

/* */


  /* Teste novo font stack (TESTE 001)*/

 /*
  .header-btn {
    padding: 4px 0 0 0;
  }

  .btn {
    padding: 4px 0 0 0;
  }

  */



  /* Custom control Input */
  /* .custom-switch{
    cursor: pointer;
    padding-bottom:0.5rem;
  }

  .custom-switch:first-child{
  padding-top:1rem;
  }

  .custom-control-input{
    color: #a00;
  }

  input[type=checkbox].custom-switch{
    color: red;
  }*/

  hr{
  border-bottom: 1px dotted #eee;
  }

  .form-control{
    background-color: #fefefe;
  }